html, body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", "Segoe UI", "SansSerif";
  font-weight: lighter;
  background: url("photo-1496715976403-7e36dc43f17b.jpeg");
  background-color: rgb(17, 29, 46);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center center;*/
}
.fadeBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: -101;
}
.cursorDefault {
  cursor: default !important;
}
.pageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition-duration: 220ms;
  transition-timing-function: ease-out;
}
.focusBackground {
  /*background: radial-gradient(circle, #009FDF, #0A2973);*/
  background-color: rgba(0, 0, 0, .3);
}
.pageHeader {
  width: 100%;
  flex-basis: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 50px;
}
.headerLogoContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.headerLogo {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}
.headerLogo:hover {
  cursor: pointer;
}
.headerButton {
  margin: 0;
}
.headerContacts {
  margin-right: 50px;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.headerContactsPhone {
  font-size: 24px;
  color: white;
  font-weight: lighter;
}
.headerLinks {
  font-size: 12px;
  text-decoration: underline;
  color: rgba(255, 255, 255, .8);
  cursor: pointer;
  margin-right: 20px;
  transition-duration: 220ms;
  transition-timing-function: ease-out;
}
.headerLinks:hover {
  color: white;
}
.pageTitle {
  font-size: 56px;
  font-weight: normal;
  color: white;
  padding-bottom: 30px;
  text-align: center;
}
.noticeContainer {
  padding: 20px 20px;
  transition-duration: 220ms;
  transition-timing-function: ease-out;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 4px;
}
.noticeContainer:hover{
  background-color: rgba(10, 41, 115, 1);
  border: 1px solid rgba(10, 41, 115, 1);
}
.pageSubTitle {
  font-size: 18px;
  line-height: 34px;
  color: rgba(255, 255, 255, .8);
  text-align: center;
}
.pageSubTitleLink {
  text-decoration: underline;
  cursor: pointer;
}
.pageSubTitleLink:hover {
  color: rgba(255, 255, 255, 1);
}
.noticeButton {
  margin-top: 0px;
  background-color: rgba(10, 41, 115, 0);
  border: 1px solid rgba(255, 255, 255, .8);
}
.noticeButton:hover {
  background-color: #009FDF;
  border: 1px solid #009FDF;
  color: white;
}
.formContainer {
  width: 832px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formTitle {
  text-align: left;
  font-size: 14px;
  color: rgba(255, 255, 255, .8);
  padding-bottom: 5px;
}
.formComment {
  display: inline-block;
  font-size: 12px;
  color: rgba(255, 255, 255, .5);
  text-decoration: underline;
  cursor: pointer;
  margin-top: 8px;
}
.formComment:hover {
  color: rgba(255, 255, 255, .8);
}
.formComment2 {
  font-size: 14px;
  color: rgba(255, 255, 255, .5);
  margin-top: 8px;
}
.formPassContainer {
  position: absolute;
  margin-left: 316px;
}
.formButtonContainer {
  position: absolute;
  margin-left: 632px;
}
.formButton {
  width: 200px;
  height: 50px;
  font-size: 21px;
  font-weight: normal;
  /*border: none;*/
  cursor: default;
  background-color: rgba(255, 255, 255, .2);
  /*border: 2px solid rgba(255, 255, 255, .3);*/
  color: rgba(0, 0, 0, .5);
  margin-top: 21px;
  transition-duration: 220ms;
  transition-timing-function: ease-out;
}
.formButton:hover {
  background-color: rgba(255, 255, 255, .2);
  /*border: 2px solid rgba(255, 255, 255, .3);*/
  color: rgba(0, 0, 0, .5);
}
.formButtonValid {
  background-color: rgb(222, 9, 100);
  /*background-color: rgba(0, 159, 223, 1);*/
  border: none;
  /*border-color: rgba(255, 255, 255, .5);*/
  color: rgba(255, 255, 255, 1);
  transition-duration: 220ms;
  transition-timing-function: ease-out;
}
.formButtonValid:hover {
  background-color: rgb(242, 50, 122);
  /*background-color: rgb(7, 182, 237);*/
  border: none;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
button {
  height: 40px;
  margin-top: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .2);
  color: rgba(255, 255, 255, .8);
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  transition-duration: 220ms;
  transition-timing-function: ease-out;
}
button:hover {
  background-color: rgba(255, 255, 255, .3);
  color: rgba(255, 255, 255, .9);
}
.smallButton {
  margin-top: 0;
  margin-left: 20px;
  height: 32px;
  font-size: 12px;
}
input {
  width: 300px;
  height: 50px;
  font-size: 24px;
  border: none;
  padding-left: 8px;
  margin-right: 16px;
  transition-duration: 220ms;
  transition-timing-function: ease-out;
}
input:focus {
  outline: none;
  box-shadow: none;
  border: none;
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, .2);
}
.formLoginContainer {
  z-index: 1;
}
.formLogin {
  left: 500px;
  width: 832px;
}
.resizeLogin {
  width: 300px;
}
.formCheckboxContainer {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkboxBack {
  padding: 1px;
  width: 48px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, .3);
  border-radius: 50px;
  transition-duration: 110ms;
  transition-timing-function: ease-out;
}
.checkboxBack:hover {
  cursor: pointer;
}
.checkboxBackOn {
  border-color: rgb(222, 9, 100);
  background-color: rgb(222, 9, 100);
}
.checkboxPointer {
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 22px;
  transition-duration: 110ms;
  transition-timing-function: ease-out;
}
.checkboxPointerOn {
  margin-left: 26px;
}
.formCheckboxTitle {
  padding-left: 8px;
  padding-bottom: 0;
  cursor: pointer;
}
.visible {
  opacity: 1;
  transition-duration: 220ms;
  transition-timing-function: ease-out;
  transition-delay: 220ms;
}
.hidden {
  opacity: 0;
  transition-duration: 220ms;
  transition-timing-function: ease-out;
}
.activityTitle {
  font-size: 16px;
  /*color: rgba(255, 255, 255, .8);*/
}
.activityText {
  margin-top: 8px;
  font-size: 14px;
  /*color: rgba(255, 255, 255, .5);*/
}
.logo {
  width: 130px;
  height: 200px;
  text-align: center;
  font-size: 12px;
  /*color: white;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
}
.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, .8);
}
.logoWrapper:hover{
  color: #333333;
}
.logoBackground {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  z-index: -100;
  opacity: 0;
}
.logoBackgroundShow {
  opacity: 100;
  transform: scale(1.1);
  transition-duration: 220ms;
  transition-timing-function: ease-out;
}
.logoBackgroundHide {
  opacity: 0;
  transform: scale(.9);
  transition-duration: 220ms;
  transition-timing-function: ease-out;
}
.logoBackgroundWrapper {
  position: absolute;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 100;
  /*background-color: rgba(10, 41, 115, .8);*/
  background-color: rgba(10, 41, 115, .8);
  /*background-color: rgba(33, 15, 7, 0.8);*/
  animation: showShadow 150ms ease-out;
}
@keyframes showShadow {
  from {opacity: 0}
  to {opacity: .8}
}
.clicker {
  position: relative;
  width: 100%;
  height: 100%;
}
.popupContainer {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 500px;
  top: 50%;
  transform: translateY(-50%);
}
.popup {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
  opacity: 1;
  animation: showPopup 150ms ease-out;
  font-size: 16px;
  color: #333333;
}
.popupContent {
  padding: 50px;
}
@keyframes showPopup {
  from {opacity: 0}
  to {opacity: 1}
}
.popupCloseIcon {
  position: absolute;
  margin-left: 570px;
}
.popupCloseIcon:hover {
  cursor: pointer;
}
.popupHeader {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 24px;
}
.popupButton {
  margin-top: 24px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  height: 40px;
  border: none;
  background-color: rgb(222, 9, 100);
  font-size: 16px;
  color: white;
  border-radius: 4px;
}
.popupButton:hover {
  background-color: rgb(242, 50, 122);
  cursor: pointer;
}
ul {
  line-height: 24px;
}
.newsDate {
  line-height: 36px;
  color: rgba(0, 0, 0, .4);
}
.newsTitle {
  display: inline-block;
  margin-left: 16px;
  text-decoration: underline;
  cursor: pointer;
}
.newsTitle:hover {
  color: rgba(193, 0, 36, 1);
}
button:focus {
  outline: none;
}
.svgBlack {
  fill: #000;
}
.svgWhite {
  fill: #fff;
}

.loaderContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  /*max-width: 700px;*/
  /*max-height: 500px;*/
  top: 50%;
  transform: translateY(-50%);
}
.loaderPhoneIcon {
  position: absolute;
  animation: loaderPhoneIcon 2.4s ease-in-out infinite;
}
@keyframes loaderPhoneIcon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.lds-dual-ring {
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 120px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 120px;
  height: 120px;
  margin: 1px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
